* {
    box-sizing: border-box;
  }
  .books {
    background: rgb(197, 197, 40);
    padding: 5px;
    list-style: none;
  }
  .books__item {
    padding: 10px;
    margin: 15px;
    color: #fff;
    background: rgb(102, 102, 159);
  }
